{% load static %}
{% load website_tags %}
{% with id=widget.attrs.id %}
  {% for group, options, index in widget.optgroups %}
    {% if group %}{{ group }}{% endif %}
    {% for option in options %}
      {% with widget=option %}
        <label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %} class="btn btn-default{% if widget.attrs.checked %} active{% endif %}" {% if widget.name == "impacto" %}data-toggle="tooltip" title="{% get_title_from_label widget.label %}"{% endif %}>
          {% include "django/forms/widgets/input.html" %}

	  {% if widget.name == "categoria" %}
	    {% get_icon_html_from_tag_id widget.value data_toggle=False %}
	  {% endif %}

	  {% if widget.name == "impacto" %}
	    {% if widget.label == '🙂️' %}
	      <img src="{% static 'img/icons/face-happy-icon.svg' %}" />
	    {% elif widget.label == '😐' %}
	      <img src="{% static 'img/icons/face-medium-icon.svg' %}" />
	    {% elif widget.label == '🙁' %}
	      <img src="{% static 'img/icons/face-unhappy-icon.svg' %}" />
	    {% endif %}
	  {% else %}
	    {{ widget.label }}
	  {% endif %}
	</label>
      {% endwith %}
    {% endfor %}
  {% endfor %}
{% endwith %}
